

.container-1 {
    display:flex;
    //overflow: auto;
    justify-content:space-around;
    max-height: 96vh;
    //flex-basis: 33.3%;
    position: relative;
    margin: 0px;

}

@media(max-width:639px) {
    .box-2 {
	margin-left: 20px;
    }
}

@media(min-width:1001px) {
    .box-1, .box-2 {
	scrollbar-width: thin;
	padding-right: 10px;
    }
}

@media(max-width:1000px) {
    .box-1, .box-2 {
	scrollbar-width: none;
    }
}

.box-1, .box-2 {
    //background-color: #001a33;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

.box-1 {
    min-height: 320px;
    min-width: 420px;
    max-width: 1040px;
    margin-left: 10px;
    margin-right: 10px;
    //scrollbar-width: none;;
    //overflow-y: auto;
}

.box-2 {
    //flex-basis: 67%;
    min-width: 340px;
    margin-right: 0px;
    //scrollbar-width: none;
    //overflow: auto;
}



.Session-Box, Window-Box {
    min-height: 30px;
    margin-bottom: 30px;
}



.wName-input {
    //background-color: #00001a;
    color: white;
    border: none;
    outline: none;
    font-size: 1.3em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    min-width: 300px;
}

#session-headr-div {
    display: flex;
    align-items: center;

}

#session-header {
    //font-size: 18px;
    font-size: 1.17em;

    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#session-header:hover {
    text-decoration: underline;
}

.outward {
    height: 32px;
    width: 32px;
}

@media(min-width: 1280px) {
	   .Session-Box, .Window-Box {
	       display: grid;
	       grid-template-columns: 50% 50%;
	       margin-bottom: 40px;
	   }

	   .Box-Item:nth-of-type(even), .Window-Item:nth-of-type(odd) {
	       top: 20px;
	       position: relative;
	   }

	   #session-header {
	       font-size: 21px;
	   }
}


.Tab-Item  {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.Tab-Item-drag {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right:10px;
    display: flex;
    align-items: center;
    max-width: 300px;
    max-height: 20px;
    //border-radius: 10px;
    overflow: hidden;
    //opacity: 0.999;
    transform: translate(0, 0);
    //position: relative;
    //border-color: none;
}


.icon, .icon-drag {
    padding-right: 7px;
}

.icon-drag {
    padding-left: 7px;
    border-color: none;
    //transform: translate(0, 0);
}

.link-drag {
    //padding-right: 10px;
    overflow: hidden;
    display: inline-block;
    border-color: none;
    background-color: #001a55;
    max-height: 20px;
    //max-width: 280px;
    //transform: translate(0, 0);
		      
}

.Tab-Item:hover, .Tab-Item-drag {
    background-color: #001a55;
    opacity: 1;
}

a {
    padding: 0px;
    overflow: hidden;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a{
    //max-width: 374px;
    overflow: hidden;

}

.drag-canvas {
    border-radius: 40px;
    transform: translate(0,0)
}


:where(a, .open):hover {
    text-decoration: underline;
}

:where(.open, .w-text, .w-text-tabs):hover {
    cursor: pointer;
}

body {
    background-color: #00001a;
    color: white;
    font-family: "Noto Sans", "Segoe UI", sans-serif;
    font-size: 14px;
    min-height: 580px;
    //overflow-y: visible;
    min-width:790px;
}



img {
    width: 16px;
    height: 16px;
}



.add-icon {
    width: 20px;
    height: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.add-icon:hover {
    width: 25px;
    height: 25px;
}

/*
.d-b {
    position: absolute;
    padding-top: 5px;
    right: 0px;
    opacity: 0;
}
*/

.d-b {
    opacity: 0;
    margin-left: auto;
}



.Tab-Item:hover .d-b {
    opacity: 1;
    cursor: pointer;
}


.header-1, .setting-line {
    display:flex;
    justify-content: space-between;
    align-items: center;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Box-Item {
    background: darkred;
    display: grid;
    grid-template-columns: 88% 7% 5%;
}

.Window-Item {
    //background: #483D8B;
    display: flex;
    //position: relative;
    //z-index: 100;
    //overflow: visible;
    //grid-template-columns: 50% 50%;
}

.Box-Item, .Window-Item {
    width: 320px;
    height: 35px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 10px;
    //grid-template-rows: 35px 30px;
    align-items: center;
    
}

.w-text-tabs {
    margin-left: 5px;
}

.Window-Box:hover {
    cursor: pointer;
}
/*
.Box-Item {
    background: darkred;
    width: 320px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 35px 30px;
    align-items: center;
    
}
*/

/*
input[type="text"]{
        background: transparent;
        color: white;
}
*/

#session-name {
        background: transparent;
        color: black;
}

#delete {
    cursor: pointer;
    margin: 0px;
    font-size: 18px;
    text-align: right;
    transition: 0.3s;
}

#delete:hover {
    font-size: 24px;
}

.base {
    display: inline;
    margin: 0px;
}

.name {
    margin: 0px;
}

.NO {
    display: inline;
}



p.w-text {
    margin: 0px;
}

p.open {
    margin: 0px;
    margin-right: 10px;
    font-weight: 500;
}

.tab-order {
    margin-top: 15px;
    margin-bottom: 20px;
    flex: 1;
}

.save-button {
    margin-top: 0 px;
    cursor: pointer;
}

.don-icon, .set-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

#open {
    position: fixed;
    z-index: 1;
    bottom: 1%;
    right: 1%;
    width: 18px;
    height: 18px;
}

#open:hover {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

@media (max-width: 800px) and (max-height: 600px) {
    #open {
	visibility: visible;
    }

    a{
	max-width: 374px;
    }

}
	
@media (min-width: 801px), (min-height: 601px) {
    #open {
	visibility: hidden;
    }
}



#search {
    color: white;
    font-size: 18px;
    background: #00004a;
    border: 2px solid #00004a;
    border-radius: 10px;
}

.search-bar {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 18px;
}

#clear-search {
    display: none;
    position: absolute;
    z-index:1;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.search-wrapper {
    margin-bottom: 10px;
    display: none;
}

.search-toggle {
    margin-bottom: 10px;
}

.drop-container {
    float: right;
    position: relative;
    display: inline-block;
}

.sort-list {
    position: absolute;
    background-color: #001a55;
    display: none;
    right: 0;
    z-index: 1;
    min-width: 100px;
    color: white;

}


.sort-list a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    cursor: pointer;
}

.sort-selc:hover {
    background-color: #003055;
}

.sort-default {
    background-color: #003055;
}

.list-url {
    display: block;
    opacity: 0.5;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
}

.outward:hover {
    cursor: pointer;
}
